@inherits BlazorLayoutComponent

<div class="top-bar">
    <img class="logo" src="img/logo.svg" />

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/23472.svg" />
        <div>Order Lunch</div>
    </NavLink>
</div>

<div class="content">
    @Body
</div>